{% extends "layout.html" %}
{% block title %}Yummy Eats{% endblock %}
{% block body %}
<div class="overlay" id="overlay">
    <h3>Searching now...</h3>
</div>
<div class="hero-bg">
    <section class="top">
        <header>
            <a href="#">yummy.eats</a>
        </header>
        <h1><span>The Healthy</span>Eating Experience</h1>
        <p>If you like a banana, then you are a monkey! If we think so, we all are monkeys! Happiness is eating a
            banana, so never
            interrupt me when having a banana. If you are feeling to have something, peeling a banana is
            better!<span>Enjoy your time little monkeys &#9825;</span></p>
        <div class="form-container">
            <form action="/search" method="POST">
                <div class="form-left">
                    <label for="city">Enter your city:</label>
                    <input type="text" name="city" id="city">
                    <p>Example: "San Diego"</p>
                </div>
                <input type="submit" id="cta-btn" value="Find Food Now">
            </form>
        </div>
    </section>
</div>
<section class="authentic">
    <!-- bowl -->
    <div class="right-col">
        <h2>authentic. Awesome.</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequatur sit quaerat at ut molestiae, quo vel
            omnis magnam quia veritatis!</p>
    </div>
    <img class="img1" src="static/images/food.jpg" alt="Picture of food in a bowl">
    <!-- banana -->
    <div class="left-col">
        <h2>banana. milkshake.</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequatur sit quaerat at ut molestiae, quo vel
            omnis magnam quia veritatis!</p>
    </div>
    <img class="img2" src="static/images/smoothie.jpg" alt="Picture of food in a bowl">
</section>{% endblock %}